
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f4f6;
  font-family: "Poppins", sans-serif;
}


.login-card {
  display: flex;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  width: 950px;
  max-width: 95%;
}


.login-left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #d17b93;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.error-msg {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 15px;
}


.login-form label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  display: block;
  color: #374151;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 0px;
  border: 1px solid #ddd;
  background: #f9fafb;
  font-size: 14px;
  transition: border 0.2s ease;
}

.login-form input:focus {
  outline: none;
  border-color: #d17b93;
}


.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-link {
  font-size: 12px;
  color: #6b7280;
  text-decoration: none;
}

.forgot-link:hover {
  color: #d17b93;
}


.login-btn {
  background: #d17b93;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 25px;
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #b75c78;
}


.signup-text {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  color: #555;
}

.signup-link {
  color: #d17b93;
  font-weight: 500;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-right {
  flex: 1;
  background: #eaf5ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img {
  width: 90%;
  max-width: 400px;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.login-img:hover {
  transform: scale(1.1);
}
