
.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  background: #f3f4f6;
  font-family: "Poppins", sans-serif;
  padding: 20px;     
}


.register-card {
  display: flex;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  width: 950px;        
  max-width: 95%;
  min-height: 500px;   
  height: auto;         
}


.register-left {
  flex: 1;
  padding: 40px;      
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.register-logo {
  font-size: 22px;
  font-weight: 700;
  color: #d17b93;
  margin-bottom: 10px;
}

.register-welcome {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.register-left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.register-error {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 15px;
}


.register-form label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  display: block;
  color: #374151;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 0px;
  border: 1px solid #ddd;
  background: #f9fafb;
  font-size: 14px;
  transition: border 0.2s ease;
}

.register-form input:focus,
.register-form select:focus {
  outline: none;
  border-color: #d17b93;
}


.register-btn {
  background: #d17b93;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 25px;
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background 0.3s;
}

.register-btn:hover {
  background: #b75c78;
}


.register-text {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  color: #555;
}

.register-text a {
  color: #d17b93;
  font-weight: 500;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}


.register-right {
  flex: 1;
  background: #eaf5ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-img {
  width: 90%;
  max-width: 400px;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.register-img:hover {
  transform: scale(1.1);
}
